body {
	background-image : url(guanyin.jpeg);
	background-size: cover;
	font-size : 2rem
}


.navbar{
	background-color : #2b0707;
	text-align:center;
}

.bg-light{
	background-color: #130303 !important;
}
.navbar-light .navbar-brand {
    color: white;
 }

 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: grey;
}

.navbar-brand {
	font: Georgia;
	color : #d39e00
}

.container{
	/*background-color: white;*/
	padding-left:10px;
	color:white;

}

.seperator{
	padding-top:100px;
}

